.box{
    height: 300px;
}
.box .item{
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 100px);
    width: 200px;
    height: 300px;
    background: #eaeaea;
    transition: 0.25s;
    box-shadow: 0 0 50px #00000055;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-family: 'consolas';
    font-weight: 800;
    opacity: 0;
}

.box .item:nth-child(1){
    transform: translate3d(-250px,0,0) scale(0.8);
    opacity: 1;
    z-index: 1;
    background: #555555;
}

.box .item:nth-child(2){
    transform: translate3d(-150px,0,0) scale(0.9);
    opacity: 1;
    z-index: 2;
    background: #888888;
 }

 .box .item:nth-child(3){
    transform: translate3d(0px,0,0);
    opacity: 1;
    z-index: 3;
    background: #cccccc;
 }

 .box .item:nth-child(4){
    transform: translate3d(150px,0,0) scale(0.9);
    opacity: 1;
    z-index: 2;
    background: #888888;
 }

 .box .item:nth-child(5){
    transform: translate3d(250px,0,0) scale(0.8);
    opacity: 1;
    z-index: 1;
    background: #555555;
 }