@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes animate {
    0%{
        --a: 0deg;
    }
    100%{
        --a: 360deg;
    }
}
.borderSegmentedAnimated{
    position: relative; 
    background: repeating-conic-gradient(from var(--a), #1e3a8a 0% 10%, transparent 10%, transparent 50%); 
    padding: 2px;
    animation: animate 6s ease-in-out infinite
}   