/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .group-main:hover .group-main-hover\:block {
    display: block;
  }
  .inner-group:hover .inner-group-hover\:w-full {
    width: 100%;
  }
  .inner-group:hover .inner-group-hover\:transition-all {
    transition: all 0.3s ease-in-out;
  }
  .icon-contact {
    background: repeating-conic-gradient(from 30deg, #60a5fa 0%, #60a5fa 10%, transparent 10%, transparent 50%);
  }
  .icon-contact::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 117.5deg, #60a5fa 0%, #60a5fa 10%, transparent 10%, transparent 50%);
  }
  .dark .icon-contact-dark {
    background: repeating-conic-gradient(from 30deg, #1e3a8a 0%, #1e3a8a 10%, transparent 10%, transparent 50%);
  }
  .dark .icon-contact-dark::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 117.5deg, #1e3a8a 0%, #1e3a8a 10%, transparent 10%, transparent 50%);
  } 
}