---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import Github from '../components/icons/Github.astro';
import Linkedin from '../components/icons/Linkedin.astro';
import Linkpill from '../components/Linkpill.astro'
import Mail from '../components/icons/Mail.astro';
import CustomSection from '../components/CustomSection.astro';
import ContentBorderAnimated from '../components/ContentBorderAnimated.astro'
import BoxScroll from '../components/BoxScroll.astro';
import TimeLine from '../components/TimeLine.astro';
import ProjectsContent from '../components/ProjectsContent.astro';
import { events, projects } from '../constants/arrayData';
import SliderTechnologies from '../components/SliderTechnologies.astro';
import Cv from '../components/icons/Cv.astro';
import CallToAction from '../components/CallToAction.astro';
---

<Layout 
		title="Eduardo E. Developer" 
		route="/"
		keywords='web,desarrollo,encargado,aplicaciones,backend,mantenimiento,proyectos, developer,Eduardo E.'
		description='Soy Eduardo, Programador Full Stack con amplia experiencia en el desarrollo de aplicaciones web y mobiles'>
	<main class="pb-20">
		<CustomSection class="pb-14 px-8 md:px-4 ">  
			<img class="rounded-full w-12 h-12 mb-10 mx-auto md:mx-0" src="/assets/img/me.jpeg" alt="Logo">
			<h1 class="text-gray-800 dark:text-white text-3xl md:text-5xl font-bold block sm:flex flex-row gap-x-2 pb-4 md:pb-10 justify-between">Hola, Soy Eduardo 
				<a href="https://www.linkedin.com/in/eduardo-e/" rel="noopener" title="Disponible para trabajar" target="_blank" class="mt-3 md:mt-0 flex items-center md:justify-center">
					<Badge color="blue">Disponible para trabajar</Badge> 
				</a>
			</h1> 
			<ContentBorderAnimated>
				<h2 class="text-md sm:text-xl text-gray-800 dark:text-white ">
					Soy un programador Full Stack con mas de 8 años experiencia en el desarrollo de aplicaciones web y mobiles utilizando tecnologías modernas y sólidas. Domino frameworks avanzados tanto de front-end como de back-end, lo que me permite crear soluciones integrales, eficientes y escalables para diversas necesidades empresariales.
				</h2> 
			</ContentBorderAnimated>
			<ul class="flex justify-center items-center gap-x-4 mt-10">
				<li>
					<Linkpill title="Github" href="https://github.com/eduardoNBD" >
						<Github class="size-8"/>
						<span class="hidden sm:inline-block font-bold dark:font-normal">Github</span>
					</Linkpill>
				</li>
				<li>
					<Linkpill title="Linkedin" href="https://www.linkedin.com/in/eduardo-e/">
						<Linkedin class="size-8"/>
						<span class="hidden sm:inline-block font-bold dark:font-normal">Linkedin</span>
					</Linkpill>
				</li> 
				<li>
					<Linkpill title="EMail" href="mailto:lalo_elma@hotmail.com">
						<Mail class="size-8"/>
						<span class="hidden sm:inline-block font-bold dark:font-normal">lalo_elma@hotmail.com</span>
					</Linkpill>
				</li> 
				<li>
					<a href="./assets/files/cv.pdf" 
						class="flex justify-center items-center gap-x-2 border px-2 py-1 rounded-md transition text-gray-200 dark:text-gray-200 border-blue-900 dark:border-white
							bg-blue-900 dark:bg-[transparent]
							dark:hover:drop-shadow-[0_0_5px_#3363E7] 
							dark:hover:border-[#1e3a8a]
							hover:drop-shadow-[0_0_5px_#fafafa] 
							hover:border-[#3363E7]
							hover:text-gray-200
							hover:shadow-lg"
						href={Astro.props.href}
						rel="noopener"
						target="_blank" rel="noopener" target="_blank" title="Curriculum Vitae" download>
						<Cv class="size-8"/> 
					</a>
				</li>
			</ul> 
		</CustomSection>
		<CustomSection>
			<h3 class="text-2xl relative text-gray-800 dark:text-white font-bold mb-10 text-center">
				Tecnologías empleadas
				<span class="block w-24 h-[2px] mt-4 bg-blue-600 m-auto"></span>
			</h3>
		</CustomSection>
		<SliderTechnologies />
		<CustomSection class="mt-20 px-8 md:px-4 ">
			<h3 class="text-2xl relative text-gray-800 dark:text-white font-bold mb-10">
				Experiencia laboral
				<span class="absolute top-8 left-0 w-24 h-[2px] mt-2 bg-blue-600 -ml-2"></span>
			</h3>
			<TimeLine events={events} />
		</CustomSection>
		<CallToAction
            title="¿Tienes alguna idea o proyecto?"
			subtitle="Contáctame y hagámoslo realidad"
			buttonText={[
				"Enviar Correo",
				"Visitar Linkedin",
			]} 
			buttonHref={[ 
				"mailto:lalo_elma@hotmail.com",
				"https://www.linkedin.com/in/eduardo-e/"
			]}
			btnClassName={[
				"border px-4 py-2 rounded-sm transition text-gray-200 dark:text-gray-200 border-blue-900 dark:border-white bg-blue-900 dark:bg-[transparent] dark:hover:drop-shadow-[0_0_5px_#3363E7]  dark:hover:border-[#1e3a8a] hover:drop-shadow-[0_0_5px_#fafafa]  hover:border-[#3363E7] hover:text-gray-200 hover:shadow-lg",
				"h-fit mb-2 shadow-lg font-bold px-4 py-2 rounded transition bg-blue-100 text-blue-800 hover:bg-blue-900 hover:text-blue-200  dark:bg-blue-900 dark:text-blue-300  dark:hover:bg-blue-100 dark:hover:text-blue-800"
			]}
        />
		<CustomSection class="pt-14 px-8 md:px-4">
			<h3 class="text-2xl relative text-gray-800 dark:text-white font-bold mb-8">
				Ultimo Proyecto
				<span class="absolute top-8 left-0 w-20 h-[2px] mt-2 bg-blue-600"></span>
			</h3>
			<ProjectsContent projects={[projects[0]]} />
		</CustomSection>
		<CustomSection class="pt-14 text-center"> 
			<a href="/projects" title="Ver más proyectos"
				class="mr-2 h-fit mb-2 shadow-lg font-bold px-4 py-2 rounded transition bg-blue-100 text-blue-800 hover:bg-blue-900 hover:text-blue-200  dark:bg-blue-900 dark:text-blue-300  dark:hover:bg-blue-100 dark:hover:text-blue-800"> 
				Ver más proyectos
			</a>
			<a href="/skills" title="Ver mis habilidades"
				class="ml-2 h-fit mb-2 shadow-lg font-bold px-4 py-2 rounded transition bg-blue-100 text-blue-800 hover:bg-blue-900 hover:text-blue-200  dark:bg-blue-900 dark:text-blue-300  dark:hover:bg-blue-100 dark:hover:text-blue-800"> 
				Ver mis habilidades
			</a>
		</CustomSection>
		<!--<BoxScroll /> -->
	</main>
</Layout>
