--- 
import Github from "./icons/Github.astro";
import Instagram from "./icons/Instagram.astro";
import Linkedin from "./icons/Linkedin.astro";
import Mail from "./icons/Mail.astro";
---
<footer class="bg-gray-950 dark:bg-[#17255422]">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"/>
        <div class="flex items-center justify-center">
            <div class="flex  gap-2 mt-4 sm:justify-center sm:mt-0">
                <a href="https://github.com/eduardoNBD"  class="bg-gray-500 p-2 rounded-full text-gray-100" rel="noopener" target="_blank">
                    <Github class="size-6" /> 
                </a>

                <a href="https://www.linkedin.com/in/eduardo-e/" class="bg-gray-500 p-2 rounded-full text-gray-100" rel="noopener" target="_blank">
                    <Linkedin class="size-6" /> 
                </a>

                <a href="https://www.instagram.com/eduardonbd" class="bg-gray-500 p-2 rounded-full text-gray-100" rel="noopener" target="_blank">
                    <Instagram class="size-6" /> 
                </a>

                <a href="mailto:lalo_elma@hotmail.com" class="bg-gray-500 p-2 rounded-full text-gray-100" rel="noopener" target="_blank">
                    <Mail class="size-6" /> 
                </a>
            </div>
        </div>
    </div>
</footer>
