<header class="flex justify-between items-center py-3 w-full md:w-[1120px] mx-auto">
    <span></span>
    <nav class="flex flex-row gap-x-10 text-gray-300"> 
        <a class="relative  group  py-1.5 px-2.5 hover:text-indigo-600 font-bold" href="/"> <span class="absolute bottom-0 left-0 w-0 h-0.5 bg-indigo-600 group-hover:w-full group-hover:transition-all"></span>Inicio</a>
        <a class="relative  group  py-1.5 px-2.5 hover:text-indigo-600 font-bold" href="/"> <span class="absolute bottom-0 left-0 w-0 h-0.5 bg-indigo-600 group-hover:w-full group-hover:transition-all"></span>Experiencia</a>
        <a class="relative  group  py-1.5 px-2.5 hover:text-indigo-600 font-bold" href="/"> <span class="absolute bottom-0 left-0 w-0 h-0.5 bg-indigo-600 group-hover:w-full group-hover:transition-all"></span>Sobre mí</a>
        <a class="relative  group  py-1.5 px-2.5 hover:text-indigo-600 font-bold" href="/"> <span class="absolute bottom-0 left-0 w-0 h-0.5 bg-indigo-600 group-hover:w-full group-hover:transition-all"></span>Proyectos</a>
        <a class="relative  group  py-1.5 px-2.5 hover:text-indigo-600 font-bold" href="/"> <span class="absolute bottom-0 left-0 w-0 h-0.5 bg-indigo-600 group-hover:w-full group-hover:transition-all"></span>Contacto</a> 
    </nav>
</header>