<header class="flex justify-between items-center w-[90%] md:w-[1440px] mx-auto">
    <span></span>
    <nav class="flex flex-row gap-x-2 text-gray-300 mt-10"> 
        <a class="relative group py-1.5 px-2.5 hover:text-[#3363E7] font-bold" href="/"> <span class="absolute bottom-0 left-0 w-0 h-0.5 bg-[#3363E7] group-hover:w-full group-hover:transition-all"></span>Inicio</a>
        <a class="relative group py-1.5 px-2.5 hover:text-[#3363E7] font-bold" href="/"> <span class="absolute bottom-0 left-0 w-0 h-0.5 bg-[#3363E7] group-hover:w-full group-hover:transition-all"></span>Experiencia</a>
        <a class="relative group py-1.5 px-2.5 hover:text-[#3363E7] font-bold" href="/"> <span class="absolute bottom-0 left-0 w-0 h-0.5 bg-[#3363E7] group-hover:w-full group-hover:transition-all"></span>Sobre mí</a>
        <a class="relative group py-1.5 px-2.5 hover:text-[#3363E7] font-bold" href="/"> <span class="absolute bottom-0 left-0 w-0 h-0.5 bg-[#3363E7] group-hover:w-full group-hover:transition-all"></span>Proyectos</a>
        <a class="relative group py-1.5 px-2.5 hover:text-[#3363E7] font-bold" href="/"> <span class="absolute bottom-0 left-0 w-0 h-0.5 bg-[#3363E7] group-hover:w-full group-hover:transition-all"></span>Contacto</a> 
    </nav>
</header>