---
import ToggleMode from './ToggleMode.astro';

const { route } = Astro.props;
---
<header class="w-full lg:w-[1440px] mx-auto">
    <nav class="border-gray-200">
        <div class="flex flex-wrap items-center justify-between mx-auto p-4"> 
            <ToggleMode /> 
            <div class="flex items-center md:order-1 space-x-1 md:space-x-2 rtl:space-x-reverse">
                <button
                    id="main-menu-toggle"
                    type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="main-menu"
                    aria-expanded="false">
                    <span class="sr-only">Open main main-menu</span>
                    <svg
                        class="w-5 h-5"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 17 14">
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15"></path>
                    </svg>
                </button>
            </div>
            <div id="main-menu" class="bg-[#fafafa] dark:bg-[#13151a] absolute sm:static z-20 items-center left-0 top-16 justify-between hidden w-full md:flex md:w-auto md:order-1 opacity-100 pointer-events-auto transition-all duration-300">
                <ul class="flex flex-col mt-4 font-medium md:flex-row md:mt-0 md:space-x-8 rtl:space-x-reverse pb-4 mx-4">
                    <li class={`text-gray-600 dark:text-white relative pl-4 group py-2.5 px-2.5 ${route == "/" ? "text-blue-600" :"hover:text-blue-600"} font-bold border-b-2 border-gray-500 sm:border-0`}>
                        <a href="/">
                            <span class={`absolute bottom-0 left-0 w-0 h-[1px] md:h-0.5 bg-gray-500 ${route == "/" ? "w-full" :"group-hover:w-full"} md:bg-blue-600 group-hover:transition-all`}></span>
                            Inicio
                        </a>
                    </li>  
                    <li class={`text-gray-600 dark:text-white relative pl-4 group py-2.5 px-2.5 ${route == "/projects" ? "text-blue-600" :"hover:text-blue-600"} font-bold border-b-2 border-gray-500 sm:border-0`}>
                        <a href="/projects">
                            <span class={`absolute bottom-0 left-0 w-0 h-[1px] md:h-0.5 bg-gray-500 ${route == "/projects" ? "w-full" : "group-hover:w-full"} md:bg-blue-600 group-hover:transition-all`}></span>
                            Proyectos
                        </a>
                    </li>
                    <li class={`text-gray-600 dark:text-white relative pl-4 group py-2.5 px-2.5 ${route == "/contact" ? "text-blue-600" :"hover:text-blue-600"} font-bold border-b-2 border-gray-500 sm:border-0`}>
                        <a href="/">
                            <span class={`absolute bottom-0 left-0 w-0 h-[1px] md:h-0.5 bg-gray-500 ${route == "/contact" ? "w-full" : "group-hover:w-full"} md:bg-blue-600 group-hover:transition-all`}></span>
                            Contacto
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<script>
    const toggleMenu = document.querySelector("#main-menu-toggle");

    toggleMenu?.addEventListener("click",() => {
        const Menu = document.querySelector("#main-menu");

        if(Menu?.classList.contains("hidden")){
            Menu?.classList.remove("hidden");
        }else{
            Menu?.classList.add("hidden");
        }
    });
</script>
