<a
    class="flex justify-center items-center gap-x-2 border border-gray-400 px-2 py-1 rounded-lg hover:bg-gray-800 hover:border-gray-800 hover:scale-110"
    href={Astro.props.href}
    rel="noopener"
    target="_blank">
    <slot/>
</a>
