<a href={Astro.props.href} rel="noopener" target="_blank"
   class="flex justify-center items-center gap-x-2 border px-2 py-1 rounded-md transition text-gray-200 dark:text-gray-200 border-blue-900 dark:border-white
          bg-blue-900 dark:bg-[transparent]
          dark:hover:drop-shadow-[0_0_5px_#3363E7] 
          dark:hover:border-[#1e3a8a]
          hover:drop-shadow-[0_0_5px_#fafafa] 
          hover:border-[#3363E7]
          hover:text-gray-200
          hover:shadow-lg">
    <slot/>
</a>