--- 
import Badge from './Badge.astro';
export interface Event { 
    title: string;
    date: string; 
    description: Array<string>;
    places: Array<string>;
}

export interface Props { 
    events:Event[];
}

const { events } = Astro.props as Props;
---
<ol class="relative border-s border-gray-200 dark:border-gray-700 before:content-[''] before:absolute before:bottom-0 before:left-[-1.25px] before:w-[2px] before:bg-[#1e3a8a] before:drop-shadow-[0_0_7px_#3363E7] before:h-[0%] before:animate-height"> 
    {events.map( event => {
        return (
            <li class="ms-6 mb-4">
                <span class="-left-[16.5px] -mt-1 absolute flex items-center justify-center w-8 h-8 bg-blue-100 -start-3 dark:bg-blue-900 icon-contact dark:icon-contact-dark">
                    <svg class="w-4 h-4 text-blue-800 dark:text-blue-300 absolute z-10"  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-briefcase"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" /><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" /><path d="M12 12l0 .01" /><path d="M3 13a20 20 0 0 0 18 0" /></svg>
                    <b class="bg-[#F3F5F9] dark:bg-[#13151a] w-[28px] h-[28px] absolute top-0.5 left-0.5 z-0"/>
                </span>
                <h3 class="mb-1 text-lg font-semibold text-gray-800 dark:text-white">{event.title}</h3>
                <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 pl-4">{event.date}</time>
                {event.description.map(p => <p class="text-base font-normal text-gray-500 dark:text-gray-400 my-3 pl-4">{p}</p>)}
                <div class="flex-col xs:flex-row flex ml-4 border-t-[0.5px] border-t-gray-600 pt-4">
                    {event.places.map(p => <Badge className='mb-2' color="blue">{p}</Badge>)}
                </div>
            </li>
        )
    })}                  
</ol>

