---
import Header from '../components/Header.astro'; 
import Footer from '../components/Footer.astro'; 
import '@fontsource-variable/onest'; 
import '../styles/tailwind.css'; 

interface Props {
	title: string;
	route: string;
	description:string;
}

const { title, route, description} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
		<link rel="manifest" href="/favicon/site.webmanifest">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>   
	</head>
	<body class="bg-[#F3F5F9] dark:bg-[#13151a]"> 
		<Header route={route}/>
		<slot />
		<Footer/>
		<div id="loader" class="flex justify-center items-center h-full w-full top-0 absolute bg-[#ffffffaa] left-0 z-40">
            <div class="rounded-full h-20 w-20 bg-violet-800 animate-ping"></div>
        </div>
	</body>
	<script is:inline>
		function showLoader(){document.querySelector("#loader").classList.remove("hidden");}function hideLoader(){document.querySelector("#loader").classList.add("hidden");}
		onload = (event) => {
			document.querySelector("#loader").classList.add("hidden");;
		};
	</script>
</html>
<style is:global>
	:root { 
		color-scheme: light dark;
	}
	html {
		font-family: "Onest Variable", system-ui, sans-serif; 
	} 
	body{
		display: flex;  
		flex-direction: column;
		justify-content: center; 
		background: #13151a; 
	}
</style>
